.titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(0, 8, 52);
}

body {
    background-color: #4169e1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin: 0; /* Removendo margens padrão */
    padding: 0; /* Adicionando padding para o conteúdo não ficar colado ao topo */
}

.header {
    height: 50px;
    background-color: #fff;
    /*margin: 0;  Removendo margens padrão */
    padding: 10px; /* Adicionando padding para o conteúdo do cabeçalho */
    text-align: left; /* Alinhando texto no centro */
}

.imagem img {
        display: block;
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 0 auto; /* Certifique-se de que a margem seja 0 auto para centralizar horizontalmente */
      
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
  }

  table th,
  table td {
    padding: 10px;
    border: 1px solid #ddd;
  }

  table th {
    background-color: #f2f2f2;
  }

  footer{
    background-color: rgb(0, 8, 52);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
